@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
}

.about-bg img{
    height: 3.5em;
    margin: 1em 0 0 1.3em;
    cursor: pointer;
}
/*In order: top, right, bottom, left*/
/*Img means the logo.*/

nav{
    float: right;
    margin: 1.1em 2em 0 0;
    overflow: hidden;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline;
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 1em; 
}
/*margin-left changes the space inbetween the words*/

nav a{
    text-decoration: none;
    color: black;
}

nav li :hover, .active{
    color: #F1003B;
    transition: .5s;
}

header{
    margin-bottom: -0.5em;
}

.checkbtn{
    float: right;
    font-size: 2rem;
    cursor: pointer;
    display: none;
    color: black;
}
/*Display: none remove the icon from being seen.*/

#check{
    display: none;
}

.img-bb{
    max-width: 100%;
}
/*Adding width: 100% to images helps make it responsive.*/

.big-about{
    background: url(../res/about.jpg);
    background-position: 35% 27%;
    height: 34em;
    color: white;
    margin-top: -3.3em;
}

.big-about h1{
    font-size: 5rem;
    padding: 5em 0 0 0.5em;
}
/*In order: top, right, bottom, left*/

.about-text1{
    text-align: center;
    padding: 2.5em 2em 0 2em;
}

.about-text1 h2{
    font-size: 3rem;
}

.about-text1 p{
    font-size: 1.2rem;
    line-height: 1.4em;
    margin-top: -0.7em;
}

.about-text1 img{
    height: 20em;
    margin-top: 2.5em;
}


.about-text2{
    text-align: center;
    padding: 7em 2em 0 2em;
}

.about-text2 h2{
    font-size: 3rem;
}

.about-text2 p{
    font-size: 1.2rem;
    line-height: 1.4em;
    margin-top: -0.7em;
}

.about-text2 img{
    height: 20em;
    margin-top: 2.5em;
}


.meet-team h2{
    font-size: 3rem;
    margin-top: 3.5em;
    text-align: center;
}

.meet-team img{
    height: 17em;
    margin-top: 1em;
    display: block;
    margin: 0 auto;
    padding: 1em;
}


.contact{
    background: url(../res/contact.jpg);
    background-position: 36% 34%;
    height: 36.6em;
    margin-top: 4em;
    margin-bottom: 6em;
    max-width: 100%;
}

.contact form{
    background-color: rgb(255, 255, 255);
    margin: 5em 5em;
    padding: 4em;
    box-shadow: 8px 8px 30px #550c4b;
    border-radius: 0.6em;
}
/*In order: top, right, bottom, left*/

input[type=text], input[type=email]{
    padding: 1em;
    margin: 1.5em 0 0 0;
    text-overflow: ellipsis;
    outline: none;
    box-sizing: border-box;
    border: 1px solid rgb(235, 235, 235);
    display: block;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: rgb(155, 155, 155);
    background-color: rgb(235, 235, 235);
}


input[type=button]{
    background-color: #1E9FB7;
    border: none;
    color: white;
    padding: 0.7em 2em 0.7em 2em;
    margin: 1.8em 0 0 0;
    border-radius: 1.5em;
    font-size: 1.3em;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    display: block;
    width: 100%;
}
/*In order: top, right, bottom, left*/

input[type=button]:hover{
    background-color: #1a93a8;
}

#feedback{
    padding-bottom: 6em;
}

#label-to{
    color: black;
    font-weight: bold;
    font-size: 2.6em;
    text-align: center;
    display: block;
    margin: -0.5em 0 1.2em 0;
}
/*In order: top, right, bottom, left*/


footer{
    background-color: #3B0F7D;
    height: 30em;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    overflow: hidden;
}

footer ul{
    list-style: none;
    margin: 5em 2em 0 0;
    cursor: pointer;
}
/*In order: top, right, bottom, left*/

footer li{
    font-size: 1.5rem;
    line-height: 1.9em;
}

footer li:hover{
    text-decoration: underline;
    transition: .5s;
}

footer a{
    color: white;
    text-decoration: none;
}

footer #login{
    display: inline;
}

footer img{
    height: 5em;
    margin: 2em 0 0 0;
    cursor: pointer;
}
/*In order: top, right, bottom, left*/
/*Img means the logo.*/



/*Mobile version*/
@media screen and (max-width: 725px){
    .big-about{
        height: 34em;
        margin: -2.3em 0 0 0;
    }

    .big-about h1{
        font-size: 3.5rem;
        padding: 7.9em 0 0 0.5em;
    }
    /*In order: top, right, bottom, left*/

    .img-bb{
        max-width: 90%;
    }

    #label-to{
        font-size: 2.6em;
        margin-top: 0.1em;
    }

    .contact{
        height: 36.6em;
    }
    
    .contact form{
        margin: 1em 1em;
        padding: 3em;
    }
    /*In order: top, right, bottom, left*/
    
    .checkbtn{
        display: block;
        margin-top: 0.2em;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #3B0F7D;
        top: 70px;
        left: -115%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 3em 3em 2.5em 0em;
        font-size: 1.7rem;
    }
    /*In order: top, right, bottom, left*/

    nav li :hover, .active{
        color: #6d18ec;
    }

    nav a{
        color: white;
    }

    nav #login{
        display: inline;
    }

    nav .aba{
        margin-right: 0em;
    }

    nav .bab{
        margin-left: 0.8em;
    }

    #check:checked ~ ul{
        left: 0;
    }
}

/*Website version*/
@media screen and (min-width: 770px){
    .about-text1{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "text picture";
        text-align: left;
        padding: 4em 1em 0 5.3em;
    }
    /*In order: top, right, bottom, left*/

    .text1{
        grid-area: text;
        float: right;
        margin-top: 3em;
        padding-left: 3em;
        margin-right: 5em;
    }

    .about-text1 img{
        grid-area: picture;
        box-shadow: 13px 14px 16px #b4b4b4;
        margin-top: 3em;
    }

    .about-text2{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "picture text";
        text-align: left;
        padding:  6em 1em 0 5em;
        /*padding: 10em 8.8em 0 6em;*/
    }
    /*In order: top, right, bottom, left*/

    .text2{
        grid-area: text;
        float: right;
        margin-top: 3em;
        margin-right: 7em;
        margin-left: 4em;
    }

    .about-text2 img{
        grid-area: picture;
        box-shadow: 13px 14px 16px #b4b4b4;
        margin-top: 3em;
        margin-left: 3em;
    }

    .meet-team{
        padding-left: 3em;
    }

    .meet-team h2{
        font-size: 4rem;
        margin-top: 4em;
    }
    
    .meet-team img{
        height: 16em;
        margin-top: 1em;
        display: inline-block;
        margin: 0 auto;
        padding: 1em;
    }

    footer{
        height: 8em;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "logo text";
        margin: 0;
        padding: 0;
    }

    footer img{
        grid-area: logo;
        height: 4em;
        margin: 2em 0 0 24em;
        padding: 0;
    }

    footer ul{
        margin: 2.8em 0em 0 -6em;
    }

    footer li{
        grid-area: text;
        display: inline;
        margin-left: 1.3em;
    }
    /*In order: top, right, bottom, left*/

    footer .ada{
        margin-left: 0.2em;
    }
}