.searchbar {
    font-size: 0;
    width: 0px;
    height: 40px;
}

.navlink {
    color: black;
}

.event-labels {
    font-size: 20px;
    font-weight: 500;
}

.event-text {
    font-weight: 400;
}

.requirement-table {
    border-collapse: collapse;
    border: 1px solid black;
}

#event-description-text {
    font-size: 18px;
}