@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.home-bg{
    background: url(../res/background.jpg);
    background-position: 42% 27%;
    color: white;
    height: 40em;
}

.home-bg img{
    height: 3.5em;
    margin: 1em 0 0 1.3em;
    cursor: pointer;
}
/*In order: top, right, bottom, left*/
/*Img means the logo.*/

nav{
    float: right;
    margin: 1.1em 2em 0 0;
    overflow: hidden;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline;
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 1em; 
}
/*margin-left changes the space inbetween the words*/

nav a{
    text-decoration: none;
    color: white;
}

nav li :hover, .active{
    color: #F1003B;
    transition: .5s;
}

.checkbtn{
    float: right;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
/*Display: none remove the icon from being seen.*/

#check{
    display: none;
}

.event-bg{
    text-align: center;
}

.event-bg h1{
    font-size: 2.3rem;
    line-height: 1.4em;
    margin: 1em 1em 0 1em;
}
/*In order: top, right, bottom, left*/

.event-bg p{
    font-size: 1.1rem;
    margin: 2em 3em 2.4em 3em;
    line-height: 1.4em;
}

form{
    padding: 0 3.9em 0 3.9em;
}

input[type=text]{
    width: 100%;
    box-sizing: border-box;
    padding: 1.2em;
    border: 1px solid #949494;
    text-overflow: ellipsis;
    outline: none;
}
/*In order: top, right, bottom, left*/
/*outline: none removes the default black border around a form box.*/

input[value="What event are you looking for?"]{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: rgb(185, 185, 185);
}

.search-box input[type=button]{
    background-color: #3B0F7D;
    border: none;
    color: white;
    border-radius: 1.5em;
    font-size: 1.5em;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    padding: 0.7em 1.5em 0.7em 1.5em ;
    margin: 1.3em 0 0 0;
}
/*In order: top, right, bottom, left*/

.search-box input[type=button]:hover{
    background-color: #310c69;
}

.circle-box{
    padding: 4em;
    text-align: center;
}

.circle-1 h2{
    font-size: 3rem;
    color: black;
}

.circle-1 p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(102, 102, 102);
    line-height: 1.9em;
    margin-bottom: 3em;
}
/*In order: top, right, bottom, left*/

.circle-2 h2{
    font-size: 3rem;
    color: black;
}

.circle-2 p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(102, 102, 102);
    line-height: 1.9em;
    margin-bottom: 3em;
}
/*In order: top, right, bottom, left*/

.circle-3 h2{
    font-size: 3rem;
    color: black;
}

.circle-3 p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(102, 102, 102);
    line-height: 1.9em;
    margin-bottom: 3em;
}
/*In order: top, right, bottom, left*/

.circle-1 img{
    height: 19em;
}

.circle-2 img{
    height: 19em;
}

.circle-3 img{
    height: 19em;
}

.circle-box input[type=button]{
    background-color: #1E9FB7;
    border: none;
    color: white;
    box-sizing: border-box;
    border-radius: 1.5em;
    font-size: 1.6em;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5em 1.6em 0.5em 1.6em;
    margin: 1.8em 0 1.5em 0;
}
/*In order: top, right, bottom, left*/

.circle-box input[type=button]:hover{
    background-color: #198a9e;
}

.circle-1{
    margin-top: 1em;
    margin-bottom: 3em;
}

.circle-2{
    margin-top: 6em;
    margin-bottom: 1em;
}

.circle-3{
    margin-top: 0;
    margin-bottom: 2em;
}

.start-bg{
    padding: 3em;
    background: url(../res/smile.jpg);
    background-position: 44% 20%;
    text-align: center;
    color: white;
    height: 31em;
}

.start-bg h1{
    font-size: 2.8rem;
}

.start-bg p{
    font-size: 1.2rem;
    line-height: 1.9em;
    margin: 0 1em 0 1em;
}
/*In order: top, right, bottom, left*/

.start-bg input[type=button]{
    background-color: #F1003B;
    border: none;
    color: white;
    border-radius: 1.5em;
    font-size: 1.4em;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    padding: 0.7em 1.6em 0.7em 1.6em ;
    margin: 1.8em 0 1.5em 0;
}

.start-bg input[type=button]:hover{
    background-color: #d30035;
}

footer{
    background-color: #3B0F7D;
    height: 30em;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    overflow: hidden;
}

footer ul{
    list-style: none;
    margin: 5em 2em 0 0;
    cursor: pointer;
}
/*In order: top, right, bottom, left*/

footer li{
    font-size: 1.5rem;
    line-height: 1.9em;
}

footer li:hover{
    text-decoration: underline;
    transition: .5s;
}

footer a{
    color: white;
    text-decoration: none;
}

footer #login{
    display: inline;
}

footer img{
    height: 5em;
    margin: 2em 0 0 0;
    cursor: pointer;
}
/*In order: top, right, bottom, left*/
/*Img means the logo.*/


/*Mobile version*/
@media (max-width: 773px){
    .home-bg{
        margin: 0 0em -3.4em 0;
        height: 42em;
    }
    /*In order: top, right, bottom, left*/

    .circle-box{
        padding: 0;
        margin: 9em 3em 0 3em;
    }

    .circle-box img{
        height: 14em;
    }

    .start-bg{
    margin: 0;
    height: 25em;
    background-position: 40% 45%;
    }
    /*In order: top, right, bottom, left*/

    footer{
        margin: 0;
    }

    .checkbtn{
        display: block;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #3B0F7D;
        top: 70px;
        left: -115%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 3em 3em 2.5em 0em;
        font-size: 1.7rem;
    }
    /*In order: top, right, bottom, left*/

    nav li :hover, .active{
        color: #6d18ec;
    }

    nav #login{
        display: inline;
    }

    nav .aba{
        margin-right: 0em;
    }

    nav .bab{
        margin-left: 0.8em;
    }

    #check:checked ~ ul{
        left: 0;
    }

    .circle-box{
        margin: 9em 3em 0 3em;
    }
}


/*Website version*/
@media (min-width: 773px){
    .home-bg{
        height: 43.5em;
    }

    .event-bg h1{
        text-align: left;
        font-size: 2.8rem;
        margin: 1.5em 6em 0 1.4em;
    }
    /*In order: top, right, bottom, left*/
    
    .event-bg p{
        text-align: left;
        font-size: 1.2rem;
        margin: 2em 12em 2.4em 3.2em;
    }

    input[type=text]{
        width: 70%;
        float: left;
    }

    .search-box input[type=button]{
        margin: 0 9em 2em 0;
    }
    /*In order: top, right, bottom, left*/

    .circle-1{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "text circle";
    }

    .circle-text1{
        grid-area: text;
        text-align: left;
        padding: 0 0 0 16em;
    }
    /*In order: top, right, bottom, left*/

    .circle-1 h2{
        font-size: 3.1rem;
    }

    .circle-text1 p{
        font-size: 1.3rem;
    }

    .circle-1 img{
        grid-area: circle;
        padding: 3em 10em 0 0;
        height: 21em
    }
    
    .circle-1 input[type=button]{
        margin: -6em 0 0 2em;
    }
    /*In order: top, right, bottom, left*/


    .circle-2{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "circle text";
    }

    .circle-text2{
        grid-area: text;
        text-align: left;
        padding: 0 15em 0 0;
    }
    /*In order: top, right, bottom, left*/

    .circle-text2 p{
        font-size: 1.3rem;
    }

    .circle-2 img{
        grid-area: circle;
        padding: 3em 0 0 9.5em;
        height: 21em
    }
    /*In order: top, right, bottom, left*/


    .circle-3{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "text circle";
    }

    .circle-text3{
        grid-area: text;
        text-align: left;
        padding: 0 0 0 16em;
    }
    /*In order: top, right, bottom, left*/

    .circle-text3 p{
        font-size: 1.3rem;
    }

    .circle-3 img{
        grid-area: circle;
        padding: 3em 10em 0 0;
        height: 21em
    }

    .start-bg{
        height: 32em;
    }


    .start-bg h1{
        font-size: 4.7rem;
    }
    
    .start-bg p{
        font-size: 1.4rem;
        margin: 0 2em 0 2em;
    }
    /*In order: top, right, bottom, left*/
    
    .start-bg input[type=button]{
        border-radius: 1.5em;
        font-size: 1.7em;
        padding: 0.8em 1.6em 0.8em 1.6em ;
        margin: 1.8em 0 1.5em 0;
    }

    footer{
        height: 8em;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "logo text";
        margin: 0;
        padding: 0;
    }

    footer img{
        grid-area: logo;
        height: 4em;
        margin: 2em 0 0 25em;
        padding: 0;
    }

    footer ul{
        margin: 2.8em 0em 0 -6em;
    }

    footer li{
        grid-area: text;
        display: inline;
        margin-left: 1.3em;
    }
    /*In order: top, right, bottom, left*/

    footer .ada{
        margin-left: 0.2em;
    }

}




